body {
  padding: 50px;
  font: 14px;
  font-family: 'Sarabun', sans-serif;
}

/* "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family:  */

a {
  color: white;
}

/* https://i.imgur.com/iYQ4bnj.jpg */
/*  */


body {
  background: url(https://i.imgur.com/rf7pGAx.jpg) no-repeat center center fixed;  
}

.nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

.nav > a {
  margin: 20px;
  text-decoration: none;
  border-radius: 5px;
  
}

.nav > a:hover {
  color: white;
  background-color: #424748;
  padding: 5px;
}

.nav > a.active {
  color: white;
}

body > nav {
  grid-area: nav;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}

.icon {
  width: 30px;
  height: 30px;
}

.detailsButton {
  color: black;
  font-size: 25px;
}

.X {
  border-radius: 20%;
}

h1 {
  text-align: center;
  color: white;
  margin: 20px;
  padding-bottom: 30px;
}

.addFlightLink {
  text-align:center;
  display:block;
  font-weight: bold;
  color: white;
  font-size: large;
}

td {
  padding-right: 20px;
  padding-left: 20px;
}

/* th {
  background-color: rgba(236, 192, 151);
  color: white;
  border: none;
  border-collapse: collapse;
} */

.table {
  margin-left:auto;
  margin-right:auto;
  padding: 30px;
  size: auto 40px auto 40px;
  border-radius: 25px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.seat-table {
  padding: 30px;
  size: auto 40px auto 40px;
  border-radius: 25px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
}

.create-ticket {
  margin-left:auto;
  margin-right:auto;
  padding: 30px;
  size: auto 40px auto 40px;
  border-radius: 25px;
  background-color: whitesmoke;
  text-align: center;
}
